<article class="{{class}} card js-card {{#unless product.isAvailable}}card--disabled{{/unless}}">
    <div class="card__top"></div>
    <div class="card__bottom">
        <div class="card__content">
            <header class="card__header">
                <span class="card__header-text--default">Сказочное заморское яство</span>
                <span class="card__header-text--not-approved">Котэ не одобряет?</span>
            </header>
            <h1 class="card__h">{{product.name}}</h1>
            <h2 class="card__sub-h">{{product.variant}}</h2>
            <p class="card__text">{{{product.quantity}}}</p>
            <p class="card__text">{{{product.gift}}}</p>
        </div>
        <div class="card__badge">
            <p class="card__badge-text card__badge-text--lg">{{product.weight}}</p>
            <p class="card__badge-text card__badge-text--sm">кг</p>
        </div>
    </div>
</article>
